﻿
@model Weather.Models.WeatherModel
@{
    ViewBag.Title = "Searching Forecast";
}

<h2>Long Term Forecast</h2>

<h3>@Model.City</h3>

@for (int i = 0; i < 7; i++)
{
    <div class="forecastItem">
        <p class="temp">
            @Model.LongTermDailyTemp[i]
            @if (ViewBag.IsMetric)
                {
                     @:°C</p>
                }
                else
                {
                    @:°F</p>
                }

    <p class="weatherCondition">@Model.LongTermDailyDescription[i]</p>
    <p>@Model.LongTermDates[i].ToString("ddd, d MMM")</p>
</div>
}
