﻿
@model Weather.Models.CitiesModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Weather</h1>
    <div class="allCities">
        <div class="cityWeather">
            <img src="@Model[0].IconUrl" />
            <p class="lead"><a href="@Url.Action("Index","Forecast", new { id = 0 })">@Model[0].City</a></p>
            <p class="dailyDescription">@Model[0].Description</p>
            <p class="dailyTemp">
                @Model[0].Temperature
                @if (ViewBag.IsMetric)
                {
                    @:°C</p>
                }
                else
                {
                    @:°F</p>
                }
        </div>

        <div class="cityWeather" id="city2">
            <img src="@Model[1].IconUrl" />
            <p class="lead"><a href="@Url.Action("Index","Forecast", new { id = 1 })">@Model[1].City</a></p>
            <p class="dailyDescription">@Model[1].Description</p>
            <p class="dailyTemp">
                @Model[1].Temperature
                @if (ViewBag.IsMetric)
                {
                    @:°C</p>
                }
                else
                {
                    @:°F</p>
                }
        </div>

        <div class="cityWeather" id="city3">
            <img src="@Model[2].IconUrl" />
            <p class="lead"><a href="@Url.Action("Index","Forecast", new { id = 2 })">@Model[2].City</a></p>
            <p class="dailyDescription">@Model[2].Description</p>
            <p class="dailyTemp">
                @Model[2].Temperature
                @if (ViewBag.IsMetric)
                {
                    @:°C</p>
                }
                else
                {
                    @:°F</p>
                }
        </div>
    </div>
    <div class="searchForm">
        @using (Html.BeginForm("Searching", "Forecast"))
        {
            @Html.TextBox("city", null, new { @class = "searchBox" })
            <input class="searchButton" type="submit" name="SaveButton" value="Search" />
        }
    </div>
</div>

<p>@ViewBag.CurrentTime</p>
<input class="toggleUnitButton" type="button" value="Toggle C/F" onclick="location.href='@Url.Action("ToggleTempUnits", "Home")'" />

